<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
</head>
<body>
    <div>
        <form method="POST" action="/totp">
            <label for="code">Enter Code:</label>
            <input type="text" id="code" name="code"><br><br>
            <input type="submit" value="Submit">
        </form>
        <form action="/">
            <input type="submit" value="Main Menu">
        </form>
    </div>
</body>
</html>