<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email_confirmation</title>
</head>
<body>
    <div>
        <h1>Email Confirmation</h1>
        <form method="POST" action="/emailing">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="email">Enter Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <input type="submit" value="Submit">
        </form>
        <form action="/">
            <input type="submit" value="Main Menu">
        </form>
    </div>
</body>
</html>
