<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fingerprint</title>
</head>
<body>
    <div>
        <h1>Fingerprint</h1>
        <form method="POST" action="/fingerprint">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <p1>Place your finger on the scanner to put in your fingerprint</p1>
            <br></br>
            <input type="submit" value="Submit">
        </form>
        <form action="/">
            <input type="submit" value="Main Menu">
        </form>
    </div>
</body>
</html>
